.popup--section {  
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 200px;
  width: 300px;
  background-color: #123449;
  font-family: Karla, sans-serif;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(1, 80, 1);
  animation: slidein;
  animation-duration: 1s;
}

@keyframes slidein {
  from {transform: translateY(-500px);}
  to {transform: translateY(0);}
}

.fa-solid {
  position: absolute;
  font-size: 1.5rem;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.fa-solid:hover {
  opacity: 0.8;
}

.fa-solid:active {
  opacity: 0.5;
}

.popup--title {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: rgb(245, 130, 130);
}

.popup--description {
  width: 85%;
  text-align: center;
  font-size: 1.4rem;
}

.popup--form {
  border: 1px solid gray;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup--fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
}

.popup--input-label {
  font-family: Karla, sans-serif;
  font-size: 1.3rem;  
}

.popup--input { 
  width: 55%; 
  height: 28px;
  margin-left: 10px;
  font-family: Karla, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5px;
}

.popup--button {
  height: 20px;
  width: 200px;
  border-radius: 6px;
  margin: 10px;
  color: #ffffff;
  background-color: #5035FF;
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  font-weight: bold; 
  border: none; 
  cursor: pointer;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.9;
}

button:active {   
  color: #efefef;
  text-shadow: -1px -1px 0px #777, -1px -1px 0px #777;
  box-shadow: inset 3px 3px 4px #222;
  transform: translateY(1px); /*  Add per Vince's helpful comment  */
}